{% extends "base.html" %} {% block page_content %}
<!-- prettier-ignore -->
{% load static %}

<!--==========================
    Intro Section
  ============================-->
<section id="intro" class="clearfix">
  <div class="container">
    <div class="intro-info">
      <h2>Blog Categories</h2>
    </div>
  </div>
</section>
<!-- #intro -->

<main id="main">
  <!--==========================
      Category Section
    ============================-->
  <section id="portfolio" class="clearfix">
    <div class="container">
      <div class="card-columns">
        {% for category in categories %}
        <div class="card bg-light mb-3" style="max-width: 18rem;">
          <div class="card-header">{{ category.name }}</div>
          <div class="card-body">
            <h5 class="card-title">{{ category.name }}</h5>
            <p class="card-text">
              <a href="{% url 'catgpage' category.pk %}">
                Go to {{ category.name }}
              </a>
            </p>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>
  <!-- #portfolio -->
</main>

{% endblock %}
