{% extends "base.html" %} {% block page_content %}
<!-- prettier-ignore -->
{% load static %}

<main id="main">
  <div class="container text-center">
    <h1 class="display-1">{{ category.name }}</h1>
  </div>
  <div class="container">
    {% if publications_in_category %}
    <div class="card-columns">
      {% for publication in publications_in_category %}
      <div class="card bg-light mb-3" style="max-width: 18rem;">
        {% if publication.picture %}
        <img
          class="card-img-top"
          src="{{ publication.picture.url }}"
          alt="{{ publication.title }} Picture"
        />
        {% endif %}
        <div class="card-header text-center">{{ publication.title }}</div>
        <div class="card-body">
          <!-- <h5 class="card-title">{{ publication.category }}</h5> -->
          <p class="card-text">
            <small class="text-muted">By {{ publication.author_name }}</small>
          </p>
          <a
            href="{% url 'publicationpage' publication.pk %}"
            class="btn btn-primary btn-sm card-link"
          >
            Read More
          </a>
        </div>
      </div>
      {% endfor %}
    </div>
    {% else %}
    <div class="container text-center">
      <h1 class="display-4">Nothing here yet</h1>
    </div>
    {% endif %}
  </div>
</main>

{% endblock %}
