{% extends "base.html" %} {% block page_content %}
<!-- prettier-ignore -->
{% load static %}

<!--==========================
    Intro Section
  ============================-->
<section id="intro" class="clearfix">
  <div class="container">
    <div class="intro-info">
      <h2>{{ category.name }}</h2>
    </div>
  </div>
</section>
<!-- #intro -->

<main id="main">
  <div class="container">
    <div class="card-columns">
      {% for blog in blogs_in_category %}
      <div class="card bg-light mb-3" style="max-width: 18rem;">
        {% if blog.picture %}
        <img
          class="card-img-top"
          src="{{ blog.picture.url }}"
          alt="{{ blog.title }} Picture"
        />
        {% endif %}
        <div class="card-header">{{ blog.title }}</div>
        <div class="card-body">
          <h5 class="card-title">{{ blog.category }}</h5>
          <p class="card-text">
            <a href="{% url 'blogpage' blog.pk %}">
              Read Blog
            </a>
          </p>
          <p class="card-text">
            <small class="text-muted">By {{ blog.author_name }}</small>
          </p>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</main>

{% endblock %}
