{% extends "base.html" %} {% block page_content %}
<!-- prettier-ignore -->
{% load static %}

<!--==========================
  Header
  ============================-->
<header id="header" class="fixed-top">
  <div class="container">
    <div class="logo float-left">
      <!-- Uncomment below if you prefer to use an image logo -->
      <h1>
        <a href="#intro" class="scrollto"
          ><img
            src="{% static 'img/logo.png' %}"
            alt=""
            class="img-fluid"
            height="200"
            width="50" /></a
        >Caim Consulting
      </h1>
    </div>

    <nav class="main-nav float-right d-none d-lg-block">
      <ul>
        <li class="active"><a href="#intro">Home</a></li>
        <li><a href="#about">About Us</a></li>
        <li><a href="#services">Services</a></li>
        <li><a href="#portfolio">Blogs</a></li>
        <li><a href="#testimonials">Team</a></li>
        <li><a href="#team">Advisory Board</a></li>
        <li><a href="#contact">Contact Us</a></li>
      </ul>
    </nav>
    <!-- .main-nav -->
  </div>
</header>
<!-- #header -->

<!--==========================
    Intro Section
  ============================-->
<section id="intro" class="clearfix">
  <div class="container">
    <div class="intro-img">
      <img src="{% static 'img/intro-img.svg' %}" alt="" class="img-fluid" />
    </div>

    <div class="intro-info">
      <h2>
        We provide<br /><span>100% cost free</span><br />business assistance!
      </h2>
      <div>
        <a href="#contact" class="btn-get-started scrollto"
          >Apply for Assistance</a
        >
        <a href="#services" class="btn-services scrollto">Our Services</a>
      </div>
    </div>
  </div>
</section>
<!-- #intro -->

<main id="main">
  <!--==========================
      About Us Section
    ============================-->
  <section id="about">
    <div class="container">
      <header class="section-header" align="center">
        <h3>About Us</h3>
        <p>
          ‘Caim Consulting’ is a non-profit initiative pioneered with an aim to
          deliver cost free legal assistance to start-ups, innovations and
          businesses, especially those in their incubatory phases.<strong
            >Like we state “we assist, you thrive”</strong
          >
        </p>
      </header>

      <div class="row about-container">
        <div class="col-lg-6 content order-lg-1 order-2">
          <p></p>

          <div class="icon-box wow fadeInUp">
            <div class="icon"><i class="fa fa-users"></i></div>
            <h4 class="title">
              <a href="#testimonials">Dedicated Team</a>
            </h4>
            <p class="description">
              Caim features a highly motivated team of individuals who
              consistently work towards the enhancement and upliftment of
              promising businesses by aiding them with the catena of legal and
              financial services incumbent for establishment and growth.
            </p>
          </div>

          <div class="icon-box wow fadeInUp" data-wow-delay="0.2s">
            <div class="icon"><i class="fa fa-check-square"></i></div>
            <h4 class="title">
              <a href="#team">Assured Quality Service</a>
            </h4>
            <p class="description">
              Besides, the quality of services we provide is underpinned by some
              of the excellent professionals who have shown their amenability to
              constitute the Advisory Board to serve our customers better.
            </p>
          </div>

          <div class="icon-box wow fadeInUp" data-wow-delay="0.4s">
            <div class="icon"><i class="fa fa-bar-chart"></i></div>
            <h4 class="title"><a href="#why-us">Reliable Platform</a></h4>
            <p class="description">
              Caim is a unique support platform to catalyse the fluent
              realisation of your business ideas and simultaneously ensuring
              that your prospects are not hindered by any financial or
              referential constraints.
            </p>
          </div>
        </div>

        <div class="col-lg-6 background order-lg-2 order-1 wow fadeInUp">
          <img
            src="{% static 'img/about-img.svg' %}"
            class="img-fluid"
            alt=""
          />
        </div>
      </div>

      <div class="row about-extra">
        <div class="col-lg-6 wow fadeInUp">
          <img
            src="{% static 'img/about-extra-1.svg' %}"
            class="img-fluid"
            alt=""
          />
        </div>
        <div class="col-lg-6 wow fadeInUp pt-5 pt-lg-0">
          <h4>
            Voluptatem dignissimos provident quasi corporis voluptates sit
            assumenda.
          </h4>
          <p>
            Ipsum in aspernatur ut possimus sint. Quia omnis est occaecati
            possimus ea. Quas molestiae perspiciatis occaecati qui rerum.
            Deleniti quod porro sed quisquam saepe. Numquam mollitia recusandae
            non ad at et a.
          </p>
          <p>
            Ad vitae recusandae odit possimus. Quaerat cum ipsum corrupti. Odit
            qui asperiores ea corporis deserunt veritatis quidem expedita
            perferendis. Qui rerum eligendi ex doloribus quia sit. Porro rerum
            eum eum.
          </p>
        </div>
      </div>

      <div class="row about-extra">
        <div class="col-lg-6 wow fadeInUp order-1 order-lg-2">
          <img
            src="{% static 'img/about-extra-2.svg' %}"
            class="img-fluid"
            alt=""
          />
        </div>

        <div class="col-lg-6 wow fadeInUp pt-4 pt-lg-0 order-2 order-lg-1">
          <h4>
            Neque saepe temporibus repellat ea ipsum et. Id vel et quia tempora
            facere reprehenderit.
          </h4>
          <p>
            Delectus alias ut incidunt delectus nam placeat in consequatur. Sed
            cupiditate quia ea quis. Voluptas nemo qui aut distinctio. Cumque
            fugit earum est quam officiis numquam. Ducimus corporis autem at
            blanditiis beatae incidunt sunt.
          </p>
          <p>
            Voluptas saepe natus quidem blanditiis. Non sunt impedit voluptas
            mollitia beatae. Qui esse molestias. Laudantium libero nisi vitae
            debitis. Dolorem cupiditate est perferendis iusto.
          </p>
          <p>
            Eum quia in. Magni quas ipsum a. Quis ex voluptatem inventore sint
            quia modi. Numquam est aut fuga mollitia exercitationem nam
            accusantium provident quia.
          </p>
        </div>
      </div>
    </div>
  </section>
  <!-- #about -->

  <!--==========================
      Services Section
    ============================-->
  <section id="services" class="section-bg">
    <div class="container">
      <header class="section-header">
        <h3>Services</h3>
        <p>
          Our esteemed services include the following domains.<br />Besides Caim
          Consultancy provides other legal and financial services relating to
          your business to help your business grow.
        </p>
      </header>

      <div class="row">
        <div
          class="col-md-6 col-lg-5 offset-lg-1 wow bounceInUp"
          data-wow-duration="1.4s"
        >
          <div class="box">
            <div class="icon">
              <i class="ion-ios-analytics-outline" style="color: #ff689b;"></i>
            </div>
            <h4 class="title">Business Incorporation</h4>
            <p class="description">
              We understand your business objective and will help you to opt for
              the most appropriate legal structure to run your business.
            </p>
          </div>
        </div>
        <div class="col-md-6 col-lg-5 wow bounceInUp" data-wow-duration="1.4s">
          <div class="box">
            <div class="icon">
              <i class="ion-ios-bookmarks-outline" style="color: #e9bf06;"></i>
            </div>
            <h4 class="title">Intellectual Property Protection</h4>
            <p class="description">
              We will shield your innovation and ideas from being duplicated or
              utilized in any case other than a legitimate consent
            </p>
          </div>
        </div>

        <div
          class="col-md-6 col-lg-5 offset-lg-1 wow bounceInUp"
          data-wow-delay="0.1s"
          data-wow-duration="1.4s"
        >
          <div class="box">
            <div class="icon">
              <i class="ion-ios-paper-outline" style="color: #3fcdc7;"></i>
            </div>
            <h4 class="title">Business Contracts</h4>
            <p class="description">
              We recognise the agreements your business executes with third
              parties and different stakeholders which we will be drafting to
              serve your needs
            </p>
          </div>
        </div>
        <div
          class="col-md-6 col-lg-5 wow bounceInUp"
          data-wow-delay="0.1s"
          data-wow-duration="1.4s"
        >
          <div class="box">
            <div class="icon">
              <i
                class="ion-ios-speedometer-outline"
                style="color: #41cf2e;"
              ></i>
            </div>
            <h4 class="title">Legal Compliances</h4>
            <p class="description">
              Ministry of Corporate Affairs, India poses loads of mandatory
              compliances which we will keep a track of to stimulate effective
              functioning.
            </p>
          </div>
        </div>

        <div
          class="col-md-6 col-lg-5 offset-lg-1 wow bounceInUp"
          data-wow-delay="0.2s"
          data-wow-duration="1.4s"
        >
          <div class="box">
            <div class="icon">
              <i class="ion-ios-world-outline" style="color: #d6ff22;"></i>
            </div>
            <h4 class="title">Quality Certification & Licensing</h4>
            <p class="description">
              Your business and business products are subject to compulsory
              licenses and ISO certification, for hassle free operation we will
              carry the necessary filings.
            </p>
          </div>
        </div>
        <div
          class="col-md-6 col-lg-5 wow bounceInUp"
          data-wow-delay="0.2s"
          data-wow-duration="1.4s"
        >
          <div class="box">
            <div class="icon">
              <i class="ion-ios-clock-outline" style="color: #4680ff;"></i>
            </div>
            <h4 class="title">Due Diligence</h4>
            <p class="description">
              Our team will be vigilant with regards to statutory records and
              all other principal and ancillary corporate documentation coupled
              with advisory and course of action in case of any default.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- #services -->

  <!--==========================
      Why Us Section
    ============================-->
  <section id="why-us" class="wow fadeIn">
    <div class="container">
      <header class="section-header">
        <h3>Why choose us?</h3>
        <p>
          We offer a “hand-holding” support which is not limited to a legal
          advice but continues until you mature into a thriving business.
        </p>
      </header>

      <div class="row row-eq-height justify-content-center">
        <div class="col-lg-4 mb-4">
          <div class="card wow bounceInUp">
            <i class="fa fa-diamond"></i>
            <div class="card-body">
              <h5 class="card-title">Non-Profit Initiative</h5>
              <p class="card-text">
                Caim is a truly ‘pro-bono’ initiative, which means you don’t pay
                us a single dime for any of our services until you mature into a
                profit generating business.
              </p>
            </div>
          </div>
        </div>

        <div class="col-lg-4 mb-4">
          <div class="card wow bounceInUp">
            <i class="fa fa-handshake-o"></i>
            <div class="card-body">
              <h5 class="card-title">Reliable</h5>
              <p class="card-text">
                Caim is mentored by the Industry leaders in commercial laws
                which makes us a reliable choice for the new ventures. Besides,
                we follow a non-disclosure policy to protect your business
                information.
              </p>
            </div>
          </div>
        </div>

        <div class="col-lg-4 mb-4">
          <div class="card wow bounceInUp">
            <i class="fa fa-money"></i>
            <div class="card-body">
              <h5 class="card-title">From Idea to Funding</h5>
              <p class="card-text">
                We are compassionate towards are clients and out team will work
                round the clock to ensure you are legally backed up for your
                transactions.
              </p>
            </div>
          </div>
        </div>
      </div>
      <!--
        <div class="row counters">

          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">274</span>
            <p>Clients</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">421</span>
            <p>Projects</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">1,364</span>
            <p>Hours Of Support</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">18</span>
            <p>Hard Workers</p>
          </div>

        </div>
      -->
    </div>
  </section>

  <!--==========================
      Portfolio Section
    ============================-->
  <section id="portfolio" class="clearfix">
    <div class="container">
      <header class="section-header">
        <h3 class="section-title">Our Published Blogs</h3>
      </header>

      <div class="row">
        <div class="col-lg-12">
          <ul id="portfolio-flters">
            <li data-filter="*" class="filter-active">All</li>
            <li data-filter=".filter-app">App</li>
            <li data-filter=".filter-card">Card</li>
            <li data-filter=".filter-web">Web</li>
          </ul>
        </div>
      </div>

      <div class="row portfolio-container">
        <div class="col-lg-4 col-md-6 portfolio-item filter-app">
          <div class="portfolio-wrap">
            <img
              src="{% static 'img/portfolio/app1.jpg' %}"
              class="img-fluid"
              alt=""
            />
            <div class="portfolio-info">
              <h4><a href="#">App 1</a></h4>
              <p>App</p>
              <div>
                <a
                  href="{% static 'img/portfolio/app1.jpg' %}"
                  data-lightbox="portfolio"
                  data-title="App 1"
                  class="link-preview"
                  title="Preview"
                  ><i class="ion ion-eye"></i
                ></a>
                <a href="#" class="link-details" title="More Details"
                  ><i class="ion ion-android-open"></i
                ></a>
              </div>
            </div>
          </div>
        </div>

        <div
          class="col-lg-4 col-md-6 portfolio-item filter-web"
          data-wow-delay="0.1s"
        >
          <div class="portfolio-wrap">
            <img
              src="{% static 'img/portfolio/web3.jpg' %}"
              class="img-fluid"
              alt=""
            />
            <div class="portfolio-info">
              <h4><a href="#">Web 3</a></h4>
              <p>Web</p>
              <div>
                <a
                  href="{% static 'img/portfolio/web3.jpg' %}"
                  class="link-preview"
                  data-lightbox="portfolio"
                  data-title="Web 3"
                  title="Preview"
                  ><i class="ion ion-eye"></i
                ></a>
                <a href="#" class="link-details" title="More Details"
                  ><i class="ion ion-android-open"></i
                ></a>
              </div>
            </div>
          </div>
        </div>

        <div
          class="col-lg-4 col-md-6 portfolio-item filter-app"
          data-wow-delay="0.2s"
        >
          <div class="portfolio-wrap">
            <img
              src="{% static 'img/portfolio/app2.jpg' %}"
              class="img-fluid"
              alt=""
            />
            <div class="portfolio-info">
              <h4><a href="#">App 2</a></h4>
              <p>App</p>
              <div>
                <a
                  href="{% static 'img/portfolio/app2.jpg' %}"
                  class="link-preview"
                  data-lightbox="portfolio"
                  data-title="App 2"
                  title="Preview"
                  ><i class="ion ion-eye"></i
                ></a>
                <a href="#" class="link-details" title="More Details"
                  ><i class="ion ion-android-open"></i
                ></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-card">
          <div class="portfolio-wrap">
            <img
              src="{% static 'img/portfolio/card2.jpg' %}"
              class="img-fluid"
              alt=""
            />
            <div class="portfolio-info">
              <h4><a href="#">Card 2</a></h4>
              <p>Card</p>
              <div>
                <a
                  href="{% static 'img/portfolio/card2.jpg' %}"
                  class="link-preview"
                  data-lightbox="portfolio"
                  data-title="Card 2"
                  title="Preview"
                  ><i class="ion ion-eye"></i
                ></a>
                <a href="#" class="link-details" title="More Details"
                  ><i class="ion ion-android-open"></i
                ></a>
              </div>
            </div>
          </div>
        </div>

        <div
          class="col-lg-4 col-md-6 portfolio-item filter-web"
          data-wow-delay="0.1s"
        >
          <div class="portfolio-wrap">
            <img
              src="{% static 'img/portfolio/web2.jpg' %}"
              class="img-fluid"
              alt=""
            />
            <div class="portfolio-info">
              <h4><a href="#">Web 2</a></h4>
              <p>Web</p>
              <div>
                <a
                  href="{% static 'img/portfolio/web2.jpg' %}"
                  class="link-preview"
                  data-lightbox="portfolio"
                  data-title="Web 2"
                  title="Preview"
                  ><i class="ion ion-eye"></i
                ></a>
                <a href="#" class="link-details" title="More Details"
                  ><i class="ion ion-android-open"></i
                ></a>
              </div>
            </div>
          </div>
        </div>

        <div
          class="col-lg-4 col-md-6 portfolio-item filter-app"
          data-wow-delay="0.2s"
        >
          <div class="portfolio-wrap">
            <img
              src="{% static 'img/portfolio/app3.jpg' %}"
              class="img-fluid"
              alt=""
            />
            <div class="portfolio-info">
              <h4><a href="#">App 3</a></h4>
              <p>App</p>
              <div>
                <a
                  href="{% static 'img/portfolio/app3.jpg' %}"
                  class="link-preview"
                  data-lightbox="portfolio"
                  data-title="App 3"
                  title="Preview"
                  ><i class="ion ion-eye"></i
                ></a>
                <a href="#" class="link-details" title="More Details"
                  ><i class="ion ion-android-open"></i
                ></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-card">
          <div class="portfolio-wrap">
            <img
              src="{% static 'img/portfolio/card1.jpg' %}"
              class="img-fluid"
              alt=""
            />
            <div class="portfolio-info">
              <h4>
                <a
                  href="https://drive.google.com/file/d/1PMs3uKdxKOVt8HsuvOn0D__Vv7wcQzkE/view"
                  >Labour Laws for Start-ups</a
                >
              </h4>
              <p>Card</p>
              <div>
                <a
                  href="{% static 'img/portfolio/card1.jpg' %}"
                  class="link-preview"
                  data-lightbox="portfolio"
                  data-title="Card 1"
                  title="Preview"
                  ><i class="ion ion-eye"></i
                ></a>
                <a
                  href="https://drive.google.com/file/d/1PMs3uKdxKOVt8HsuvOn0D__Vv7wcQzkE/view"
                  class="link-details"
                  title="More Details"
                  ><i class="ion ion-android-open"></i
                ></a>
              </div>
            </div>
          </div>
        </div>

        <div
          class="col-lg-4 col-md-6 portfolio-item filter-card"
          data-wow-delay="0.1s"
        >
          <div class="portfolio-wrap">
            <img
              src="{% static 'img/portfolio/card3.jpg' %}"
              class="img-fluid"
              alt=""
            />
            <div class="portfolio-info">
              <h4><a href="#">Card 3</a></h4>
              <p>Card</p>
              <div>
                <a
                  href="{% static 'img/portfolio/card3.jpg' %}"
                  class="link-preview"
                  data-lightbox="portfolio"
                  data-title="Card 3"
                  title="Preview"
                  ><i class="ion ion-eye"></i
                ></a>
                <a href="#" class="link-details" title="More Details"
                  ><i class="ion ion-android-open"></i
                ></a>
              </div>
            </div>
          </div>
        </div>

        <div
          class="col-lg-4 col-md-6 portfolio-item filter-web"
          data-wow-delay="0.2s"
        >
          <div class="portfolio-wrap">
            <img
              src="{% static 'img/portfolio/web1.jpg' %}"
              class="img-fluid"
              alt=""
            />
            <div class="portfolio-info">
              <h4><a href="#">Web 1</a></h4>
              <p>Web</p>
              <div>
                <a
                  href="{% static 'img/portfolio/web1.jpg' %}"
                  class="link-preview"
                  data-lightbox="portfolio"
                  data-title="Web 1"
                  title="Preview"
                  ><i class="ion ion-eye"></i
                ></a>
                <a href="#" class="link-details" title="More Details"
                  ><i class="ion ion-android-open"></i
                ></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- #portfolio -->

  <!--==========================
      Clients Section
    ============================-->
  <section id="testimonials" class="section-bg">
    <div class="container">
      <header class="section-header">
        <h3>Our Team</h3>
      </header>

      <div class="row justify-content-center">
        <div class="col-lg-8">
          <div class="owl-carousel testimonials-carousel wow fadeInUp">
            <div class="testimonial-item">
              <img
                src="{% static 'img/testimonial-1.jpg' %}"
                class="testimonial-img"
                alt=""
              />
              <h3>
                Abhishek Jha
                <a href="https://www.linkedin.com/in/abhishek-jha-47298611b/"
                  ><i class="fa fa-linkedin"></i
                ></a>
                <a href="mailto:jha3abhishek@gmail.com"
                  ><i class="fa fa-envelope"></i
                ></a>
              </h3>
              <h4>Law Student, MNLU</h4>
              <p>
                Currently a penultimate year law student of Maharashtra National
                Law University, Aurangabad, he has a knack to venture out and
                innovate. His interest area lies in commercial laws and Dispute
                Resolution. In his academic career, he has led various
                organisations by being in positions of responsibility. He has
                also been an active participant in Moot Court Competitions &
                National Debates and enjoys academic writing as well.
              </p>
            </div>

            <div class="testimonial-item">
              <img
                src="{% static 'img/testimonial-2.jpg' %}"
                class="testimonial-img"
                alt=""
              />
              <h3>
                Ananya Sahu
                <a href="https://www.linkedin.com/in/ananya-sahu-609541168"
                  ><i class="fa fa-linkedin"></i
                ></a>
                <a href="mailto:ananyasahu47@gmail.com"
                  ><i class="fa fa-envelope"></i
                ></a>
              </h3>
              <h4>Law Student, MNLU</h4>
              <p>
                She is currently pursuing BA LLB from Maharashtra National Law
                University, Aurangabad. Her interest lies in Commercial laws,
                Tech- Laws and other aspects related to the business world. She
                has been an active participant of an NGO which is dedicatedly
                working to be at the service of start-ups. She looks forward to
                rendering advice and to add up to the success of your business
                working to her full potential.
              </p>
            </div>

            <div class="testimonial-item">
              <img
                src="{% static 'img/testimonial-3.jpg' %}"
                class="testimonial-img"
                alt=""
              />
              <h3>
                Devansh Kathuria
                <a
                  href="https://www.linkedin.com/in/devansh-kathuria-26ab84192/"
                  ><i class="fa fa-linkedin"></i
                ></a>
                <a href="mailto:devansh.kathuria@gmail.com"
                  ><i class="fa fa-envelope"></i
                ></a>
              </h3>
              <h4>Law Student, MNLU</h4>
              <p>
                Devansh Kathuria is currently pursuing his bachelor's degree in
                law from Maharashtra National Law University, Aurangabad and is
                in his third year of five-year law course. He takes immense
                interest in learning practical aspects of law and takes great
                interest in taxation laws. He is also a very passionate
                dedicated and committed team-oriented person who believes in
                listening to the problem and coming up innovative solutions.
              </p>
            </div>

            <div class="testimonial-item">
              <img
                src="{% static 'img/testimonial-4.jpg' %}"
                class="testimonial-img"
                alt=""
              />
              <h3>
                Hrishav Kumar
                <a href="https://www.linkedin.com/in/hrishavk/"
                  ><i class="fa fa-linkedin"></i
                ></a>
                <a href="mailto:hrishavmr@gmail.com"
                  ><i class="fa fa-envelope"></i
                ></a>
              </h3>
              <h4>Law Student, NUSRL</h4>
              <p>
                He is an undergraduate student at National University of Study
                and Research in Law, Ranchi with a keen interest in Taxation and
                Competition laws. At the same time he also has a profound
                interest in writing, especially on the developments taking place
                in the legal industry. Apart from law and academics, he is
                actively interested in interacting with entrepreneurs and
                understanding the nuances of their businesses.
              </p>
            </div>

            <div class="testimonial-item">
              <img
                src="{% static 'img/testimonial-5.jpg' %}"
                class="testimonial-img"
                alt=""
              />
              <h3>
                Kunwar Surya Pratap
                <a
                  href="https://www.linkedin.com/in/kunwar-surya-pratap-669a50176/"
                  ><i class="fa fa-linkedin"></i
                ></a>
                <a href="mailto:kspratap1@gmail.com"
                  ><i class="fa fa-envelope"></i
                ></a>
              </h3>
              <h4>Law Student, NUSRL</h4>
              <p>
                He is presently enrolled as a student of law in National
                University of Study and Research in Law, Ranchi. He has a
                demonstrable interest in commercial laws and dispute resolution.
                You can figure out that he has a keen interest in moot courts,
                legal writing and public speaking as well. Besides that, he
                frequently likes to engage himself in freelancing and gratuitous
                legal services.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- #testimonials -->

  <!-- Section: Team v.1 -->
  <section id="team">
    <div class="container">
      <!-- Section heading -->
      <div class="section-header">
        <h3>Our Advisory Board</h3>
        <!-- Section description -->
        <p>
          Our advisory board comprises of some of the top corporate lawyers of
          the country who have helped several businesses in becoming market
          leaders.
        </p>
      </div>

      <!-- Grid row -->
      <div class="row">
        <!-- Grid column -->
        <div class="col-lg-3 col-md-6 mb-lg-0 mb-5">
          <div class="member">
            <img
              src="https://mdbootstrap.com/img/Photos/Avatars/img%20(20).jpg"
              class="rounded-circle z-depth-1"
              alt="Sample avatar"
            />
          </div>
          <h5 class="font-weight-bold mt-4 mb-3">Anna Williams</h5>
          <p class="text-uppercase blue-text">
            <strong>Graphic designer</strong>
          </p>
          <p class="grey-text">
            Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet,
            consectetur, adipisci sed quia non numquam modi tempora eius.
          </p>
          <div class="social">
            <a href=""><i class="fa fa-twitter"></i></a>
            <a href=""><i class="fa fa-linkedin"></i></a>
          </div>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-lg-3 col-md-6 mb-lg-0 mb-5">
          <div class="avatar mx-auto">
            <img
              src="https://mdbootstrap.com/img/Photos/Avatars/img%20(3).jpg"
              class="rounded-circle z-depth-1"
              alt="Sample avatar"
            />
          </div>
          <h5 class="font-weight-bold mt-4 mb-3">John Doe</h5>
          <p class="text-uppercase blue-text">
            <strong>Web developer</strong>
          </p>
          <p class="grey-text">
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem ipsa
            accusantium doloremque rem laudantium totam aperiam.
          </p>
          <div class="social">
            <a href=""><i class="fa fa-twitter"></i></a>
            <a href=""><i class="fa fa-linkedin"></i></a>
          </div>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-lg-3 col-md-6 mb-md-0 mb-5">
          <div class="avatar mx-auto">
            <img
              src="https://mdbootstrap.com/img/Photos/Avatars/img%20(30).jpg"
              class="rounded-circle z-depth-1"
              alt="Sample avatar"
            />
          </div>
          <h5 class="font-weight-bold mt-4 mb-3">Maria Smith</h5>
          <p class="text-uppercase blue-text">
            <strong>Photographer</strong>
          </p>
          <p class="grey-text">
            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
            officia deserunt mollit anim est fugiat nulla id eu laborum.
          </p>
          <div class="social">
            <a href=""><i class="fa fa-twitter"></i></a>
            <a href=""><i class="fa fa-linkedin"></i></a>
          </div>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-lg-3 col-md-6">
          <div class="avatar mx-auto">
            <img
              src="https://mdbootstrap.com/img/Photos/Avatars/img%20(32).jpg"
              class="rounded-circle z-depth-1"
              alt="Sample avatar"
            />
          </div>
          <h5 class="font-weight-bold mt-4 mb-3">Tom Adams</h5>
          <p class="text-uppercase blue-text">
            <strong>Backend developer</strong>
          </p>
          <p class="grey-text">
            Perspiciatis repellendus ad odit consequuntur, eveniet earum nisi
            qui consectetur totam officia voluptates perferendis voluptatibus
            aut.
          </p>
          <div class="social">
            <a href=""><i class="fa fa-twitter"></i></a>
            <a href=""><i class="fa fa-linkedin"></i></a>
          </div>
        </div>
        <!-- Grid column -->
      </div>
    </div>
    <!-- Grid row -->
  </section>
  <!-- Section: Team v.1 -->

  <!-- #team -->

  <!--==========================
      Clients Section
    ============================-->
  <!--<section id="clients" class="section-bg">

      <div class="container">

        <div class="section-header">
          <h3>Our CLients</h3>
          <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque dere santome nida.</p>
        </div>

        <div class="row no-gutters clients-wrap clearfix wow fadeInUp">

          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="client-logo">
              <img src="{% static 'img/clients/client-1.png' %}" class="img-fluid" alt="">
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="client-logo">
              <img src="{% static 'img/clients/client-2.png' %}" class="img-fluid" alt="">
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="client-logo">
              <img src="{% static 'img/clients/client-3.png' %}" class="img-fluid" alt="">
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="client-logo">
              <img src="{% static 'img/clients/client-4.png' %}" class="img-fluid" alt="">
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="client-logo">
              <img src="{% static 'img/clients/client-5.png' %}" class="img-fluid" alt="">
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="client-logo">
              <img src="{% static 'img/clients/client-6.png' %}" class="img-fluid" alt="">
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="client-logo">
              <img src="{% static 'img/clients/client-7.png' %}" class="img-fluid" alt="">
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="client-logo">
              <img src="{% static 'img/clients/client-8.png' %}" class="img-fluid" alt="">
            </div>
          </div>

        </div>

      </div>

    </section>
  -->

  <!--==========================
      Contact Section
    ============================-->
  <section id="contact">
    <div class="container-fluid">
      <div class="section-header">
        <h3>Got any Query?</h3>
      </div>

      <div class="row wow fadeInUp">
        <div class="col-lg-5">
          <div class="map mb-4 mb-lg-0">
            <h4><br />Alternatively, you may also reach out to us at<br /></h4>
            <h3>
              <a href="mailto:contact@caimconsulting.in"
                ><i class="fa fa-envelope"></i> contact@caimconsulting.in</a
              >
            </h3>
          </div>
        </div>

        <!--<div class="col-lg-6">
            <div class="row">
              <div class="col-md-5 info">
                <i class="ion-ios-location-outline"></i>
                <p>Block J, Maharashtra National Law University, Aurangabad</p>
              </div>
              <div class="col-md-4 info">
                <i class="ion-ios-email-outline"></i>
                <p>contact@caimconsulting.in</p>
              </div>
              <div class="col-md-3 info">
                <i class="ion-ios-telephone-outline"></i>
                <p>+91-8789619680<br>+91-8920705589</p>
              </div>
            </div>
          -->

        <div class="form">
          <div id="sendmessage">Your message has been sent. Thank you!</div>
          <div id="errormessage"></div>
          <form action="" method="post" role="form" class="contactForm">
            <div class="form-row">
              <div class="form-group col-lg-6">
                <input
                  type="text"
                  name="name"
                  class="form-control"
                  id="name"
                  placeholder="Your Name"
                  data-rule="minlen:4"
                  data-msg="Please enter at least 4 chars"
                />
                <div class="validation"></div>
              </div>
              <div class="form-group col-lg-6">
                <input
                  type="email"
                  class="form-control"
                  name="email"
                  id="email"
                  placeholder="Your Email"
                  data-rule="email"
                  data-msg="Please enter a valid email"
                />
                <div class="validation"></div>
              </div>
            </div>
            <div class="form-group">
              <input
                type="text"
                class="form-control"
                name="subject"
                id="subject"
                placeholder="Subject"
                data-rule="minlen:4"
                data-msg="Please enter at least 8 chars of subject"
              />
              <div class="validation"></div>
            </div>
            <div class="form-group">
              <textarea
                class="form-control"
                name="message"
                rows="5"
                data-rule="required"
                data-msg="Please write something for us"
                placeholder="Message"
              ></textarea>
              <div class="validation"></div>
            </div>
            <div class="text-center">
              <button type="submit" title="Send Message">
                Send Message
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
  <!-- #contact -->
</main>

{% endblock %}
