{% extends "base.html" %} {% block page_content %}
<!-- prettier-ignore -->
{% load static %}

<!--==========================
    Intro Section
  ============================-->
<!-- <section id="intro" class="clearfix">
  <div class="container">
    <div class="intro-info">
      <h2>Blog Categories</h2>
    </div>
  </div>
</section> -->
<!-- #intro -->

<main id="main">
  <!--==========================
      Recent Publications Section
    ============================-->
  <section id="portfolio" class="clearfix">
    <div class="container">
      <h2 class="text-center">Latest Publications</h2>
      <div class="card-columns">
        {% for publication in latest_3_publications %}
        <div class="card bg-light mb-3" style="max-width: 18rem;">
          {% if publication.picture %}
          <img
            class="card-img-top"
            src="{{ publication.picture.url }}"
            alt="{{ publication.title }} Picture"
          />
          {% endif %}
          <div class="card-header text-center">{{ publication.title }}</div>
          <div class="card-body">
            <h5 class="card-title">{{ publication.category }}</h5>
            <p class="card-text">
              <small class="text-muted">By {{ publication.author_name }}</small>
            </p>
            <a
              href="{% url 'publicationpage' publication.pk %}"
              class="btn btn-primary btn-sm card-link"
            >
              Read More
            </a>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>
  <!-- #recent -->

  <!--==========================
      Category Section
    ============================-->
  <section id="portfolio" class="clearfix">
    <div class="container">
      <h2 class="text-center">Publications Categories</h2>
      <div class="card-columns">
        {% for category in categories %}
        <a href="{% url 'catgpage' category.pk %}">
          <div class="card bg-light mb-3" style="max-width: 18rem;">
            <div class="card-body">
              <h2 class="card-title">{{ category.name }}</h2>
              <!-- <p class="card-text">
                Read More
              </p> -->
            </div>
          </div>
        </a>
        {% endfor %}
      </div>
    </div>
  </section>
  <!-- #category -->
</main>

{% endblock %}
