{% extends "base.html" %}

<!-- prettier-ignore -->
{% block title %}
<title>Caim Consulting | {{ publication.title }}</title>
{% endblock %}

<!-- prettier-ignore -->
{% load static %}
{% block metatags %}
<meta name="title" content="{{ publication.title }}" />
<meta name="description" content="Publication by Caim Consulting Team" />
{% endblock %}

<!-- prettier-ignore -->
{% block ogmetatags %}
<meta property="og:title" content="{{ publication.title }}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ request.build_absolute_uri }}" />
<meta property="og:description" content="Publication by Caim Consulting Team" />
{% if publication.picture %}
<meta property="og:image" content="{{ publication.picture.url }}" />
{% endif %}
<!-- prettier-ignore -->
{% endblock %}

<!-- prettier-ignore -->
{% block page_content %}

<link href="{% static 'css/print.css' %}" rel="stylesheet" media="print" />

<main id="main">
  <div class="container">
    <!-- Title -->
    <h1 class="mt-4">{{ publication.title }}</h1>

    <!-- Author -->
    <p class="lead">
      by <var>{{ publication.author_name }}</var>
      <br />
      <!-- Date/Time -->
      <span class="small">
        <!-- prettier-ignore -->
        Posted on {{ publication.published_datetime|date:"D, d F, Y, h:i A e" }}
      </span>
    </p>

    <hr />

    <!-- Publication Image -->
    {% if publication.picture %}
    <img
      class="img-fluid rounded"
      src="{{ publication.picture.url }}"
      alt="Picture of Publication"
    />
    <hr />
    {% endif %}

    <!-- prettier-ignore -->
    {% if publication.gdrive %}
    <a target="_blank" href="{{ publication.gdrive }}">
      View
      <svg
        width="1em"
        height="1em"
        viewBox="0 0 16 16"
        class="bi bi-file-earmark-fill"
        fill="currentColor"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          fill-rule="evenodd"
          d="M4 1a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V5.707A1 1 0 0 0 13.707 5L10 1.293A1 1 0 0 0 9.293 1H4zm5 1v3a1 1 0 0 0 1 1h3L9 2z"
        />
      </svg>
    </a>
    {% endif %}

    <!-- Post Content -->
    {{ publication.content|safe }}

    <hr />
  </div>
</main>

{% endblock %}
