<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Caim Consulting</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="" name="keywords" />
    <meta content="" name="description" />

    <!-- Loading Django static -->
    {% load static %}

    <!-- Favicons -->
    <link href="{% static 'img/favicon.png' %}" rel="icon" />
    <link
      href="{% static 'img/apple-touch-icon.png' %}"
      rel="apple-touch-icon"
    />

    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700"
      rel="stylesheet"
    />

    <!-- Bootstrap CSS File -->
    <link
      href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}"
      rel="stylesheet"
    />

    <!-- Libraries CSS Files -->
    <link
      href="{% static 'assets/font-awesome/css/font-awesome.min.css' %}"
      rel="stylesheet"
    />
    <link
      href="{% static 'assets/animate/animate.min.css' %}"
      rel="stylesheet' %}"
    />
    <link
      href="{% static 'assets/ionicons/css/ionicons.min.css' %}"
      rel="stylesheet"
    />
    <link
      href="{% static 'assets/owlcarousel/assets/owl.carousel.min.css' %}"
      rel="stylesheet"
    />
    <link
      href="{% static 'assets/lightbox/css/lightbox.min.css' %}"
      rel="stylesheet"
    />

    <!-- Main Stylesheet File -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet" />

    <!-- =======================================================
    Theme Name: NewBiz
    Theme URL: https://bootstrapmade.com/newbiz-bootstrap-business-template/
    Author: BootstrapMade.com
    License: https://bootstrapmade.com/license/
  ======================================================= -->
  </head>

  <body>
    <!-- prettier-ignore -->
    {% block page_content %}
    {% endblock %}
    <!--==========================
      Footer
    ============================-->
    <footer id="footer">
      <div class="footer-top">
        <div class="container">
          <div class="row">
            <div class="col-lg-4 col-md-6 footer-info">
              <h3>Caim Consulting</h3>
              <p>
                ‘Caim Consulting’ is a non-profit initiative pioneered with an
                aim to deliver cost free legal assistance to start-ups,
                innovations and businesses, especially those in their incubatory
                phases.
              </p>
            </div>

            <div class="col-lg-2 col-md-6 footer-links">
              <h4>Useful Links</h4>
              <ul>
                <li><a href="#intro">Home</a></li>
                <li><a href="#about">About us</a></li>
                <li><a href="#services">Services</a></li>
                <li><a href="#">Terms of service</a></li>
                <li><a href="#">Privacy policy</a></li>
              </ul>
            </div>

            <div class="col-lg-3 col-md-6 footer-contact">
              <h4>Contact Us</h4>
              <p>
                <strong>Phone:</strong> +91-8789619680<br />&nbsp; &nbsp; &nbsp;
                &nbsp; &nbsp; &nbsp; &nbsp; +91-8920705589<br />
                <strong>Email:</strong> contact@caimconsulting.in<br />
              </p>

              <div class="social-links">
                <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                <a href="#" class="instagram"
                  ><i class="fa fa-instagram"></i
                ></a>
                <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
              </div>
            </div>

            <div class="col-lg-3 col-md-6 footer-newsletter">
              <h4>Our Newsletter</h4>
              <p>
                Subscribe to our bi-monthly newsletter by entering your mail
              </p>
              <form action="" method="post">
                <input
                  type="email"
                  placeholder="Enter your mail"
                  name="email"
                /><input type="submit" value="Subscribe" />
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="copyright">
          <a href="https://www.symptoma.ro/">Symptom Checker Romanian</a>
          <script
            type="text/javascript"
            src="https://www.freevisitorcounters.com/auth.php?id=67859f41b7dffe4ee8c7fe96a0d6a148c0913a65"
          ></script>
          <script
            type="text/javascript"
            src="https://www.freevisitorcounters.com/en/home/counter/719045/t/5"
          ></script>
          <hr />
          &copy; Copyright <strong>Caim Consulting</strong>.
          <br />
          All Rights Reserved
          <hr />
        </div>
        <div class="credits">
          <!--
          All the links in the footer should remain intact.
          You can delete the links only if you purchased the pro version.
          Licensing information: https://bootstrapmade.com/license/
          Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=NewBiz
        -->
          Designed by
          <a href="https://chandrikadeb7.github.io/">Chandrika</a> &
          <a href="https://sourcerer.io/chttrjeankr">Ankur</a>
        </div>
      </div>
    </footer>
    <!-- #footer -->

    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
    <!-- Uncomment below i you want to use a preloader -->
    <!-- <div id="preloader"></div> -->

    <!-- JavaScript Libraries -->
    <script src="{% static 'assets/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'assets/jquery/jquery-migrate.min.js' %}"></script>
    <script src="{% static 'assets/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'assets/easing/easing.min.js' %}"></script>
    <script src="{% static 'assets/mobile-nav/mobile-nav.js' %}"></script>
    <script src="{% static 'assets/wow/wow.min.js' %}"></script>
    <script src="{% static 'assets/waypoints/waypoints.min.js' %}"></script>
    <script src="{% static 'assets/counterup/counterup.min.js' %}"></script>
    <script src="{% static 'assets/owlcarousel/owl.carousel.min.js' %}"></script>
    <script src="{% static 'assets/isotope/isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'assets/lightbox/js/lightbox.min.js' %}"></script>
    <!-- Contact Form JavaScript File -->
    <script src="{% static 'contactform/contactform.js' %}"></script>

    <!-- Template Main Javascript File -->
    <script src="{% static 'js/main.js' %}"></script>
  </body>
</html>
