{% extends "base.html" %} {% block page_content %}
<!-- prettier-ignore -->
{% load static %}

<main id="main">
  <div class="container" id = "profile">
    <div class="intro-info">
      {% if user.is_authenticated %}
      <div class="row justify-content-center">
        <div class = "col-12">
          <form action="/accounts/logout" class="log-out">
            <button type="submit" class="btn btn-log-out">Log Out</button>
          </form>
        </div>
        <div class="col-lg-6 mb-4" >
          <div class = "left-profile">
            <h1>Welcome, {{ user.get_short_name }}!</h1>
          </div>
          
        </div>

        <div class="col-lg-6 col-md-12 col-xs-12" >
          
          <img
            src = "{% static 'img/question.svg' %}"  
            id = "graphic-profile"
            class="img-fluid"
          >

          <button
            type="button"
            id="toggle-chatbox-btn"
            class="btn btn-info"
            onclick="toggleChatStartup()"
          >
            Apply for Assistance
          </button>

          <div class="container" style="display: none;" id="chatstart-box">
            <div id="contact">
              <div class="form">
                <div id="sendmessage">Your message has been sent. Thank you!</div>
                <div id="errormessage"></div>
                <form
                  action="/contactform/"
                  method="post"
                  role="form"
                  class="contactForm"
                >
                  {% csrf_token %}
                  <div class="form-group">
                    <select
                      class="form-control"
                      id="service"
                      name="service"
                      data-rule="required"
                      data-msg="Please choose a valid service"
                    >
                      <option value="" disabled selected>Service</option>
                      {% for service in services %}
                      <option value="{{ service.pk}}">{{ service }}</option>
                      {% endfor %}
                    </select>
                    <div class="validation"></div>
                  </div>
                  <div class="form-group">
                    <input
                      type="text"
                      class="form-control"
                      name="subject"
                      id="subject"
                      placeholder="Subject"
                      data-rule="minlen:4"
                      data-msg="Please enter at least 8 chars of subject"
                    />
                    <div class="validation"></div>
                  </div>
                  <div class="form-group">
                    <textarea
                      class="form-control"
                      name="message"
                      rows="5"
                      data-rule="required"
                      data-msg="Please write something for us"
                      placeholder="Message"
                    ></textarea>
                    <div class="validation"></div>
                  </div>
                  <div class="text-center">
                    <button type="submit" title="Send Message">
                      Send Message
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-12 mb-4">
          
        </div>
      </div>

      <div class="container text-center">
        
      </div>
      {% else %}
      <form id="login-page" action="{% url 'profile' %}">
        <button type="submit" form="login-page" title="Login">
          Login to see your chats
        </button>
      </form>
      {% endif %}
    </div>
  </div>
  <div class="container">
    {% if user.is_authenticated %}
  
    <br />
    {% if unresolved_chats %}
    <div class="container">
      <h3>Current Chats</h3>
      <div class="card-columns">
        {% for chat in unresolved_chats %}
        <div class="card bg-light mb-3" style="max-width: 18rem;">
          <div class="card-header">
            By
            <var>{{ chat.user }}</var>
            on {{ chat.created_at }}
          </div>
          <div class="card-body">
            <h5 class="card-title">{{ chat.service }}</h5>
            <p class="card-text">
              <strong>Subject:</strong> <i>{{ chat.subject }}</i>
              <br />
              <strong>Resolved: {{ chat.resolved }}</strong>
              <br />
              <a href="{% url 'chat' chat.pk %}">Continue Chat</a>
            </p>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    <!-- prettier-ignore -->
    {% endif %}
    {% if resolved_chats %}
    <div class="container">
      <h3>Resolved Chats</h3>
      <div class="card-columns">
        {% for chat in resolved_chats %}
        <div class="card bg-light mb-3" style="max-width: 18rem;">
          <div class="card-header">
            By
            <var>{{ chat.user }}</var>
            on {{ chat.created_at }}
          </div>
          <div class="card-body">
            <h5 class="card-title">{{ chat.service }}</h5>
            <p class="card-text">
              <strong>Subject:</strong> <i>{{ chat.subject }}</i>
              <br />
              <strong>Resolved: {{ chat.resolved }}</strong>
              <br />
              <a href="{% url 'chat' chat.pk %}">Continue Chat</a>
            </p>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    <!-- prettier-ignore -->
    {% endif %}
    {% endif %}
  </div>
</main>

{% endblock %}
