{% extends "base.html" %} {% block page_content %}
<!-- prettier-ignore -->
{% load static %}

<!--==========================
    Intro Section
  ============================-->
<section id="intro" class="clearfix">
  <div class="container">
    <div class="intro-info">
      {% if user.is_authenticated %}
      <h2>Welcome {{ user }}</h2>
      <form action="/accounts/logout">
        <button type="submit">Log Out</button>
      </form>
      {% else %}
      <form id="login-page" action="{% url 'profile' %}">
        <button type="submit" form="login-page" title="Login">
          Login to see your queries
        </button>
      </form>
      {% endif %}
    </div>
  </div>
</section>
<!-- #intro -->

<main id="main">
  {% if user.is_authenticated %}
  <h3>Your Chats</h3>
  <ul style="list-class-type: none;">
    {% for query in queries %}
    <li>{{ query }}: <a href="{% url 'query' query.pk %}">Go to Chat</a></li>
    {% endfor %}
  </ul>
  {% endif %}
  <!-- <h2>You are {{ user }}</h2> -->
</main>

{% endblock %}
