{% extends "base.html" %} {% block page_content %}
<!-- prettier-ignore -->
{% load static %}
    

    <div id = "devs">
        <section class="team" id="team">
            <div class="container text-center" >
                <h2>Our <span>Team</span></h2>
                <hr>
                <br>
                
                <div class="row justify-content-center" >
                    <div class="col-lg-4 col-sm-6 mx-3" >
                        <div class="box">
                            <div class="image">
                                <img src="../../caimconsulting/static/img/devs/0.jpeg" alt="team" class="img-fluid">
                            </div>
                            <h3>Ankur Chattopadhaya</h3>
                            <h4>Pyhton/Django Developer</h4>
                            <br>
                            <div class="links">
                                <a href="https://www.linkedin.com/in/ankurchattopadhyay/"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                                <a href="https://github.com/chttrjeankr"><i class="fa fa-github" aria-hidden="true"></i></a>
                            </div>
                            
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 mx-3">
                        <div class="box">
                            <div class="image">
                                <img src="../../caimconsulting/static/img/devs/me.jpg" alt="team" class="img-fluid">
                            </div>
                            <h3>Chandrika Deb</h3>
                            <h4>Software Developer, Amdocs</h4>
                            <br>
                            <div class="links">
                                <a href="https://www.linkedin.com/in/chandrika-deb/"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                                <a href="https://github.com/chandrikadeb7"><i class="fa fa-github" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 mx-3">
                        <div class="box">
                            <div class="image">
                                <img src="../../caimconsulting/static/img/devs/2.JPG" alt="team" class="img-fluid">
                            </div>
                            <h3>Aditi Anshu</h3>
                            <h4>Web Developer</h4>
                            <br>
                            <div class="links">
                                <a href="https://www.linkedin.com/in/aditi-anshu-2202a3194/"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                                <a href="https://github.com/aditianshu"><i class="fa fa-github" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div>

    {% endblock %}

    