{% extends "base.html" %} {% block page_content %}
<!-- prettier-ignore -->
{% load static %}

<!--==========================
    Intro Section
  ============================-->
<section id="intro" class="clearfix">
  <div class="container" data-aos="fade-up">
    <div class="intro-img" data-aos="zoom-out" data-aos-delay="200">
      <img src="{% static 'img/intro-img.svg' %}" alt="" class="img-fluid" />
    </div>

    <div class="intro-info" data-aos="zoom-in" data-aos-delay="100">
      <h2>
        We provide<br /><span>100% cost free</span><br />business assistance!
      </h2>
      <div>
        <a href="{% url 'profile' %}" class="btn-get-started scrollto">
          Apply for Assistance
        </a>
        <a href="{% url 'homepage' %}#services" class="btn-services scrollto">
          Our Services
        </a>
      </div>
    </div>
  </div>
</section>
<!-- #intro -->

<main id="main">
  <!--==========================
      About Us Section
    ============================-->
  <section id="about">
    <div class="container" data-aos="fade-up" style="overflow-x: hidden;">
      <header class="section-header" align="center" style="text-align: center;">
        <h3>About Us</h3>
        <p>
          Caim Consulting is a non-profit initiative pioneered with an aim to
          deliver cost free legal assistance to start-ups, innovations and
          businesses, especially those in their incubatory phases.
          <br />
          <b>
            <i>
              <h4>Like we state “we assist and you thrive”</h4>
            </i>
          </b>
        </p>
      </header>

      <div class="row about-container">
        <div class="col-lg-6 content order-lg-1 order-2">
          <p></p>

          <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
            <div class="icon"><i class="fa fa-users"></i></div>
            <h4 class="title">
              <a href="{% url 'homepage' %}#team">Dedicated Team</a>
            </h4>
            <p class="description">
              Caim features a highly motivated team of individuals who
              consistently work towards the enhancement and upliftment of
              promising businesses by aiding them with the catena of legal and
              financial services incumbent for establishment and growth.
            </p>
          </div>

          <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
            <div class="icon"><i class="fa fa-check-square"></i></div>
            <h4 class="title">
              <a href="{% url 'homepage' %}#board">Assured Quality Service</a>
            </h4>
            <p class="description">
              Besides, the quality of services we provide is underpinned by some
              of the excellent professionals who have shown their amenability to
              constitute the Advisory Board to serve our customers better.
            </p>
          </div>

          <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
            <div class="icon"><i class="fa fa-bar-chart"></i></div>
            <h4 class="title">
              <a href="{% url 'homepage' %}#why-us">Reliable Platform</a>
            </h4>
            <p class="description">
              Caim is a unique support platform to catalyse the fluent
              realisation of your business ideas and simultaneously ensuring
              that your prospects are not hindered by any financial or
              referential constraints.
            </p>
          </div>
        </div>

        <div class="col-lg-6 background order-lg-2 order-1" data-aos="zoom-in">
          <img
            src="{% static 'img/about-img.svg' %}"
            class="img-fluid"
            alt=""
          />
        </div>
      </div>

      <div class="row about-extra">
        <div class="col-lg-6" data-aos="fade-right">
          <img
            src="{% static 'img/about-extra-1.svg' %}"
            class="img-fluid"
            alt=""
          />
        </div>
        <div class="col-lg-6 pt-5 pt-lg-0" data-aos="fade-left">
          <h4>Our Vision</h4>
          <p>
            At Caim, we harbour a belief that creativity and innovation shall
            never be denied support. We could not possibly think of a world
            without dynamism which essentially comes from the pillars of
            entrepreneurship i.e. <strong>creativity</strong> and
            <strong>innovation</strong>. Keeping our vision in consonance with
            our motto, we endeavour to reach out to those young businesses that
            have covered an extra mile to take their ideations into the phase of
            implementation.
          </p>
          <p>
            Caim intends to hand hold startups and SMEs in crossing the choppy
            waters of incubation and make valuable additions to their journey.
            We consider ourselves fortunate to have found our way of returning
            the favour to the business industry that has made our country one of
            the largest economies in the world. Thus, we are happily waiving off
            all kinds of charges for our services and going absolutely cost free
            for India.
          </p>
        </div>
      </div>

      <div class="row about-extra">
        <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left">
          <img
            src="{% static 'img/about-extra-2.svg' %}"
            class="img-fluid"
            alt=""
          />
        </div>

        <div
          class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1"
          data-aos="fade-right"
        >
          <h4>How We Work?</h4>
          <p>
            Navigate through the wide range of services we offer and start
            benefitting just by clicking on
            <strong>“Apply for assistance”</strong>. Sign up to keep track of
            all your queries with us and chat with the Caim Consulting Team for
            a quick support.
          </p>
          <p>
            Once you place an assistance request, you’ll be notified about the
            documents, timeline and government fees, if any. Give a heads up and
            we will assign you a team member to keep you updated through the
            process. The procedure is overlooked by the support team and
            necessary help is sought from the advisors.
          </p>
          <p>
            Can’t go for registration? You can also request urgent support
            through email and texts on the contact details provided in the
            website. We shall try to revert as quickly as possible.
          </p>
          <p>
            <strong>So go, start up!</strong>
          </p>
        </div>
      </div>
    </div>
  </section>
  <!-- #about -->

  <!--==========================
      Services Section
    ============================-->
  <section id="services" class="section-bg">
    <div class="container" data-aos="fade-up">
      <header class="section-header">
        <h3>Services</h3>
        <p>
          Our scope of work includes the following domains. <br />
          Although, feel free to send enquiry about any other legal or financial
          services relating to your business.
        </p>
      </header>

      <div class="row">
        <div
          class="col-md-6 col-lg-5 offset-lg-1"
          data-aos="zoom-in"
          data-aos-delay="100"
        >
          <div class="box">
            <div class="icon">
              <i class="ion-ios-lightbulb-outline" style="color: #ff689b;"></i>
            </div>
            <h4 class="title">Business Incorporation</h4>
            <p class="description">
              We understand your business objective and will help you to opt for
              the most appropriate legal structure to run your business.
            </p>
          </div>
        </div>
        <div class="col-md-6 col-lg-5" data-aos="zoom-in" data-aos-delay="200">
          <div class="box">
            <div class="icon">
              <i class="ion-ios-bookmarks-outline" style="color: #e9bf06;"></i>
            </div>
            <h4 class="title">Intellectual Property Protection</h4>
            <p class="description">
              We will shield your creations, innovations and ideas from
              duplication and unlawful utilization by adopting necessary
              protections available in law.
            </p>
          </div>
        </div>

        <div
          class="col-md-6 col-lg-5 offset-lg-1"
          data-aos="zoom-in"
          data-aos-delay="100"
        >
          <div class="box">
            <div class="icon">
              <i class="ion-ios-paper-outline" style="color: #3fcdc7;"></i>
            </div>
            <h4 class="title">Business Documentations</h4>
            <p class="description">
              We recognise the agreements and arrangements that are needed to be
              executed by your business and assist you in preparing the same.
            </p>
          </div>
        </div>
        <div class="col-md-6 col-lg-5" data-aos="zoom-in" data-aos-delay="200">
          <div class="box">
            <div class="icon">
              <i class="ion-ios-clock-outline" style="color: #41cf2e;"></i>
            </div>
            <h4 class="title">Legal Info & Research</h4>
            <p class="description">
              If you need any suggestions or assistance on any legal event of
              your business, we would perform the necessary research and
              validations.
            </p>
          </div>
        </div>

        <div
          class="col-md-6 col-lg-5 offset-lg-1"
          data-aos="zoom-in"
          data-aos-delay="100"
        >
          <div class="box">
            <div class="icon">
              <i class="ion-ios-world-outline" style="color: #d6ff22;"></i>
            </div>
            <h4 class="title">Quality Certification & Licensing</h4>
            <p class="description">
              Your products are subject to compulsory licenses and ISO
              certifications, for hassle free operation we will carry the
              necessary procedures.
            </p>
          </div>
        </div>
        <div class="col-md-6 col-lg-5" data-aos="zoom-in" data-aos-delay="200">
          <div class="box">
            <div class="icon">
              <i class="ion-ios-checkmark-outline" style="color: #4680ff;"></i>
            </div>
            <h4 class="title">Registrations & Filings</h4>
            <p class="description">
              Statutory affairs are mandatory in order to obtain government
              benefits and conduct business seamlessly, we’ll cover you with
              that.
            </p>
          </div>
        </div>
      </div>

      <div class="row justify-content-center">
        <div data-aos="zoom-in">
          <form action="{% url 'services' %}">
            <button type="submit" class="btn btn-primary">Know More</button>
          </form>
        </div>
      </div>
    </div>
  </section>
  <!-- #services -->

  <!--==========================
      Why Us Section
    ============================-->
  <section id="why-us">
    <div class="container" data-aos="fade-up">
      <header class="section-header">
        <h3>Why choose us?</h3>
        <p>
          We offer a hand-holding support which is not limited to solving the
          initial legal hurdles but continues till you mature into a thriving
          business.
        </p>
      </header>

      <div class="row row-eq-height justify-content-center">
        <div class="col-lg-4 mb-4">
          <div class="card" data-aos="zoom-in" data-aos-delay="100">
            <i class="fa fa-diamond"></i>
            <div class="card-body">
              <h5 class="card-title">Non-Profit Initiative</h5>
              <p class="card-text">
                Caim is a truly ‘pro-bono’ initiative, which means you don’t pay
                us a single dime for any of our services until you mature into a
                profit generating business.
              </p>
            </div>
          </div>
        </div>

        <div class="col-lg-4 mb-4">
          <div class="card" data-aos="zoom-in" data-aos-delay="200">
            <i class="fa fa-handshake-o"></i>
            <div class="card-body">
              <h5 class="card-title">Reliable</h5>
              <p class="card-text">
                Caim is mentored by the Industry leaders in commercial laws
                which makes us a reliable choice for the new ventures. Besides,
                we follow a non-disclosure policy to protect your business
                information.
              </p>
            </div>
          </div>
        </div>

        <div class="col-lg-4 mb-4">
          <div class="card" data-aos="zoom-in" data-aos-delay="300">
            <i class="fa fa-money"></i>
            <div class="card-body">
              <h5 class="card-title">From Idea to Funding</h5>
              <p class="card-text">
                We are compassionate towards our clients and our team will work
                round the clock to ensure you are legally backed up for your
                transactions.
              </p>
            </div>
          </div>
        </div>
      </div>
      <!--
        <div class="row counters">

          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">274</span>
            <p>Clients</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">421</span>
            <p>Projects</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">1,364</span>
            <p>Hours Of Support</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">18</span>
            <p>Hard Workers</p>
          </div>

        </div>
      -->
    </div>
  </section>
  <!-- #why-us -->

  <!--==========================
      Team Section
    ============================-->
  <section id="team" class="section-bg">
    <div class="container" data-aos="fade-up">
      <header class="section-header">
        <h3>Our Team</h3>
      </header>

      <div class="row justify-content-center">
        <div class="col-lg-8">
          <div class="owl-carousel team-carousel">
            <div class="team-item">
              <img
                src="{% static 'img/team/abhishek.jpeg' %}"
                class="team-img"
                alt=""
              />
              <h3>
                Abhishek Jha
                <a href="https://www.linkedin.com/in/abhishek-jha-47298611b/">
                  <i class="fa fa-linkedin"></i>
                </a>
                <a href="mailto:abhishek@caimconsulting.in">
                  <i class="fa fa-envelope"></i>
                </a>
              </h3>
              <h4>Co-Founder</h4>
              <p>
                Currently a penultimate year law student of Maharashtra National
                Law University, Aurangabad, Abhishek has a knack to venture out
                and innovate. His area of interest lies in commercial laws and
                Dispute Resolution. In his academic career, he has led various
                organisations by being in positions of responsibility. He has
                also been an active participant in Moot Court Competitions &
                National Debates and enjoys academic writing as well.
              </p>
            </div>

            <div class="team-item">
              <img
                src="{% static 'img/team/ananya.jpeg' %}"
                class="team-img"
                alt=""
              />
              <h3>
                Ananya Sahu
                <a href="https://www.linkedin.com/in/ananya-sahu-609541168">
                  <i class="fa fa-linkedin"></i>
                </a>
                <a href="mailto:ananya@caimconsulting.in">
                  <i class="fa fa-envelope"></i>
                </a>
              </h3>
              <h4>Co-Founder</h4>
              <p>
                Ananya is currently pursuing BA LLB from Maharashtra National
                Law University, Aurangabad. Her interest lies in Commercial
                laws, Tech-Laws and other aspects related to the business world.
                She has been an active participant of an NGO which is
                dedicatedly working to be at the service of start-ups. She looks
                forward to rendering advice and to add up to the success of your
                business working to her full potential.
              </p>
            </div>

            <div class="team-item">
              <img
                src="{% static 'img/team/hrishav.jpeg' %}"
                class="team-img"
                alt=""
              />
              <h3>
                Hrishav Kumar
                <a href="https://www.linkedin.com/in/hrishavk/">
                  <i class="fa fa-linkedin"></i>
                </a>
                <a href="mailto:hrishav@caimconsulting.in">
                  <i class="fa fa-envelope"></i>
                </a>
              </h3>
              <h4>Co-Founder</h4>
              <p>
                Hrishav, a highly motivated individual, has a desirous interest
                in taxation and competition laws. A staunch believer in hard
                work, he prefers to go an extra mile in each of his endeavours.
                He has a demonstrable brilliance in writing and researching
                which gets underpinned by his publications at some of the
                leading International and National law portals. Nonetheless, he
                also happens to be an avid cricket and music enthusiast.
              </p>
            </div>

            <div class="team-item">
              <img
                src="{% static 'img/team/surya.jpg' %}"
                class="team-img"
                alt=""
              />
              <h3>
                Kunwar Surya Pratap
                <a
                  href="https://www.linkedin.com/in/kunwar-surya-pratap-669a50176/"
                >
                  <i class="fa fa-linkedin"></i>
                </a>
                <a href="mailto:surya@caimconsulting.in">
                  <i class="fa fa-envelope"></i>
                </a>
              </h3>
              <h4>Co-Founder</h4>
              <p>
                Surya is invariably keen towards learning, undertaking
                gratuitous legal services and freelancing. Although peculiarly
                interested in Space Law and Policy, he also has an appreciable
                work experience in researching and drafting on subjects related
                to commercial laws. His skills are accentuated by the
                publications to his credit and achievements in public speaking
                competitions. Besides academics, it can be refreshing to talk to
                him about his perspective towards life and his exciting
                interests in stoic philosophy.
              </p>
            </div>
          </div>
        </div>
      </div>
      <br />
      <div class="row justify-content-center">
        <div data-aos="zoom-in">
          <form action="{% url 'developers' %}">
            <button type="submit" class="btn btn-primary">
              Meet our Developers
            </button>
          </form>
        </div>
      </div>
      <br />
    </div>
  </section>
  <!-- #team -->

  <!--==========================
      Board Section
    ============================-->
  <section id="board">
    <div class="container" data-aos="fade-up">
      <!-- Section heading -->
      <div class="section-header">
        <h3>Our Advisory Board</h3>
        <!-- Section description -->
        <p>
          Our advisory board comprises of some of the top professionals of the
          country who have helped several businesses in becoming market leaders.
        </p>
      </div>

      <!-- Grid row -->
      <div class="container" data-aos="zoom-in">
        <div class="row justify-content-center">
          {% for advisor in advisors %}
          <!-- Grid column -->
          <div class="col-lg-4 col-md-6 mb-md-0 mb-3">
            <div class="container-advisors">
              <div class="avatar mx-auto">
                <div class="avatar-image">
                  <img
                    src="{{ advisor.picture.url }}"
                    class="avatar-img z-depth-1"
                    alt="{{ advisor.name }} picture"
                    style="height: 260px; width: 260px;"
                  />
                  <div class="overlay"></div>
                  <div class="button-avatar">
                    <a
                      href="{% url 'advisory_board' advisor.slug %}"
                      title="Read Bio"
                    >
                      <i class="fa fa-file-text"></i> Read Bio
                    </a>
                    <a href="{{ advisor.linkedin }}" title="LinkedIn">
                      <i class="fa fa-linkedin"></i> LinkedIn
                    </a>
                  </div>
                </div>
                <!-- <img
                      src="{{ advisor.picture.url }}"
                      class="rounded-circle z-depth-1"
                      alt="{{ advisor.name }} picture"
                    /> -->
              </div>
              <div class="container">
                <h5 class="font-weight-bold mb-1">{{ advisor.name }}</h5>
                <hr style="margin: 0px 0px 5px 0px;" />
                <p class="text-uppercase blue-text">{{ advisor.position }}</p>
              </div>
              <!-- <div class="social">
                    <a
                      href="{% url 'advisory_board' advisor.slug %}"
                      title="Read Bio"
                    >
                      <svg
                        width="1.25em"
                        height="1.25em"
                        viewBox="0 0 16 16"
                        class="bi bi-file-earmark-person"
                        fill="currentColor"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="M4 0h5.5v1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V4.5h1V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2z"
                        />
                        <path d="M9.5 3V0L14 4.5h-3A1.5 1.5 0 0 1 9.5 3z" />
                        <path
                          fill-rule="evenodd"
                          d="M8 11a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"
                        />
                        <path
                          d="M8 12c4 0 5 1.755 5 1.755V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1v-.245S4 12 8 12z"
                        />
                      </svg>
                    </a>
                    <a href="{{ advisor.linkedin }}" title="LinkedIn">
                      <i class="fa fa-linkedin"></i>
                    </a>
                  </div> -->
            </div>
          </div>
          <!-- Grid column -->
          {% endfor %}
        </div>
      </div>
    </div>

    <!-- Grid row -->
  </section>
  <!-- #board -->

  <!--==========================
      Clients Section
   ============================-->
  <section id="clients" class="section-bg">
    <div class="container" data-aos="fade-up">
      <header class="section-header">
        <h3>Clients & Collaborations</h3>
        <!-- <p>People we've worked with</p> -->
      </header>

      <div class="row justify-content-center no-gutters" data-aos="zoom-in">
        {% for client in clients %}
        <div class="col-lg-3 col-md-4 col-xs-6">
          <div class="client-logo">
            <a href="{{ client.client_url }}" target="_blank">
              <img
                src="{{ client.logo.url }}"
                class="img-fluid"
                alt="{{ client.name }}"
              />
            </a>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>
  <!-- #clients -->

  <!--==========================
      Contact Section
    ============================-->
  <section id="contact">
    <div class="container-fluid" data-aos="fade-up">
      <div class="section-header">
        <h3>Got any Query?</h3>
        <hr />
      </div>

      <div class="row">
        <div class="col-lg-6 col-md-6">
          <img
            src="{% static 'img/final.svg' %}"
            class="img-fluid img-contact"
            alt=""
          />
        </div>

        <div class="col-lg-6 col-md-6 col-sm-12">
          <div class="form">
            <div id="sendmessage">Your message has been sent. Thank you!</div>
            <div id="errormessage"></div>
            {% if user.is_authenticated %}
            <form action="" method="post" role="form" class="contactForm">
              {% csrf_token %}
              <div class="form-group">
                <select
                  class="form-control"
                  id="service"
                  name="service"
                  data-rule="required"
                  data-msg="Please choose a valid service"
                >
                  <option value="" disabled selected>Service</option>
                  {% for service in services %}
                  <option value="{{ service.pk}}">{{ service }}</option>
                  {% endfor %}
                </select>
                <div class="validation"></div>
              </div>
              <div class="form-group">
                <input
                  type="text"
                  class="form-control"
                  name="subject"
                  id="subject"
                  placeholder="Subject"
                  data-rule="minlen:4"
                  data-msg="Please enter at least 8 chars of subject"
                />
                <div class="validation"></div>
              </div>
              <div class="form-group">
                <textarea
                  class="form-control"
                  name="message"
                  rows="5"
                  data-rule="required"
                  data-msg="Please write something for us"
                  placeholder="Message"
                ></textarea>
                <div class="validation"></div>
              </div>
              <div class="text-center">
                <button type="submit" title="Send Message">Send Message</button>
              </div>
            </form>
            {% else %}
            <form id="login-page" action="{% url 'profile' %}">
              <button type="submit" form="login-page" title="Login">
                Login to Contact
              </button>
            </form>
            {% endif %}
            <hr />
            <div class="text-center">
              <h3>
                <i>
                  Alternatively, you can reach out to us at <br />
                  <a href="mailto:contact@caimconsulting.in">
                    contact@caimconsulting.in
                  </a>
                </i>
              </h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- #contact -->
</main>

{% endblock %}
