{% extends "base.html" %} {% block page_content %}
<!-- prettier-ignore -->
{% load static %}

<!--==========================
  Header
  ============================-->
<header id="header" class="fixed-top">
  <div class="container">
    <div class="logo float-left">
      <a href="#" class="scrollto">
        <img src="{% static 'img/logo.png' %}" alt="" class="img-fluid" />
      </a>
    </div>

    <nav class="main-nav float-right d-none d-lg-block">
      <ul>
        <li class="active"><a href="{% url 'homepage' %}#intro">Home</a></li>
        <li><a href="{% url 'homepage' %}#about">About Us</a></li>
        <li><a href="{% url 'homepage' %}#services">Services</a></li>
        <li><a href="{% url 'blogpage' %}#intro">Blogs</a></li>
        <li><a href="{% url 'homepage' %}#team">Team</a></li>
        <li><a href="{% url 'homepage' %}#board">Advisory Board</a></li>
        <li><a href="{% url 'homepage' %}#contact">Contact Us</a></li>
      </ul>
    </nav>
    <!-- .main-nav -->
  </div>
</header>
<!-- #header -->

<!--==========================
    Intro Section
  ============================-->
<section id="intro" class="clearfix">
  <div class="container">
    <div class="intro-img">
      <img src="{% static 'img/intro-img.svg' %}" alt="" class="img-fluid" />
    </div>

    <div class="intro-info">
      <h2>
        We provide<br /><span>100% cost free</span><br />business assistance!
      </h2>
      <div>
        <a href="{% url 'homepage' %}#contact" class="btn-get-started scrollto">
          Apply for Assistance
        </a>
        <a href="{% url 'homepage' %}#services" class="btn-services scrollto">
          Our Services
        </a>
      </div>
    </div>
  </div>
</section>
<!-- #intro -->

<main id="main">
  <!--==========================
      About Us Section
    ============================-->
  <section id="about">
    <div class="container">
      <header class="section-header" align="center">
        <h3>About Us</h3>
        <p>
          ‘Caim Consulting’ is a non-profit initiative pioneered with an aim to
          deliver cost free legal assistance to start-ups, innovations and
          businesses, especially those in their incubatory phases.
          <br />
          <b>
            <i>
              <h4>
                Like we state “we assist, you thrive”
              </h4>
            </i>
          </b>
        </p>
      </header>

      <div class="row about-container">
        <div class="col-lg-6 content order-lg-1 order-2">
          <p></p>

          <div class="icon-box wow fadeInUp">
            <div class="icon"><i class="fa fa-users"></i></div>
            <h4 class="title">
              <a href="{% url 'homepage' %}#team">Dedicated Team</a>
            </h4>
            <p class="description">
              Caim features a highly motivated team of individuals who
              consistently work towards the enhancement and upliftment of
              promising businesses by aiding them with the catena of legal and
              financial services incumbent for establishment and growth.
            </p>
          </div>

          <div class="icon-box wow fadeInUp" data-wow-delay="0.2s">
            <div class="icon"><i class="fa fa-check-square"></i></div>
            <h4 class="title">
              <a href="{% url 'homepage' %}#board">Assured Quality Service</a>
            </h4>
            <p class="description">
              Besides, the quality of services we provide is underpinned by some
              of the excellent professionals who have shown their amenability to
              constitute the Advisory Board to serve our customers better.
            </p>
          </div>

          <div class="icon-box wow fadeInUp" data-wow-delay="0.4s">
            <div class="icon"><i class="fa fa-bar-chart"></i></div>
            <h4 class="title">
              <a href="{% url 'homepage' %}#why-us">Reliable Platform</a>
            </h4>
            <p class="description">
              Caim is a unique support platform to catalyse the fluent
              realisation of your business ideas and simultaneously ensuring
              that your prospects are not hindered by any financial or
              referential constraints.
            </p>
          </div>
        </div>

        <div class="col-lg-6 background order-lg-2 order-1 wow fadeInUp">
          <img
            src="{% static 'img/about-img.svg' %}"
            class="img-fluid"
            alt=""
          />
        </div>
      </div>

      <div class="row about-extra">
        <div class="col-lg-6 wow fadeInUp">
          <img
            src="{% static 'img/about-extra-1.svg' %}"
            class="img-fluid"
            alt=""
          />
        </div>
        <div class="col-lg-6 wow fadeInUp pt-5 pt-lg-0">
          <h4>
            Our Vision
          </h4>
          <p>
            At Caim, we harbour a belief that creativity and innovation shall
            never be denied support. We could not possibly think of a world
            without dynamism which essentially comes from the pillars of
            entrepreneurship i.e. <strong>creativity</strong> and
            <strong>innovation</strong>. Keeping our vision in consonance with
            our motto, we endeavour to reach out to those young businesses that
            have covered an extra mile to take their ideations into the phase of
            implementation.
          </p>
          <p>
            We are sincerely committed to provide them with all the support
            within our reach and power to keep them standing and competing at
            par with other established businesses in the industry. Caim intends
            to hold their hands and assist them in crossing the choppy waters of
            incubation and make valuable additions to their journey.
          </p>
          <p>
            As far as the interests of Caim are concerned, we are fortunate to
            have found our way of returning the favour to the business industry
            that has made our country one of the largest economies in the world.
            Thus we are happily waiving off all kinds of charges for our
            services and going absolutely cost free for India.
          </p>
        </div>
      </div>

      <div class="row about-extra">
        <div class="col-lg-6 wow fadeInUp order-1 order-lg-2">
          <img
            src="{% static 'img/about-extra-2.svg' %}"
            class="img-fluid"
            alt=""
          />
        </div>

        <div class="col-lg-6 wow fadeInUp pt-4 pt-lg-0 order-2 order-lg-1">
          <h4>
            Caim Startup Law Review
          </h4>
          <p>
            Caim also manages a flagship platform of the country
            <strong>‘Caim Startup Law Review’</strong> which strives to feature
            articles from different areas of laws with an identifiable nexus
            with startups and young businesses.
          </p>
          <p>
            The readers of this platform includes businesses, academicians,
            professionals and students.
          </p>
        </div>
      </div>
    </div>
  </section>
  <!-- #about -->

  <!--==========================
      Services Section
    ============================-->
  <section id="services" class="section-bg">
    <div class="container">
      <header class="section-header">
        <h3>Services</h3>
        <p>
          Our esteemed services include the following domains.<br />Besides Caim
          Consultancy provides other legal and financial services relating to
          your business to help your business grow.
        </p>
      </header>

      <div class="row">
        <div
          class="col-md-6 col-lg-5 offset-lg-1 wow bounceInUp"
          data-wow-duration="1.4s"
        >
          <div class="box">
            <div class="icon">
              <i class="ion-ios-lightbulb-outline" style="color: #ff689b;"></i>
            </div>
            <h4 class="title">Business Incorporation</h4>
            <p class="description">
              We understand your business objective and will help you to opt for
              the most appropriate legal structure to run your business.
            </p>
          </div>
        </div>
        <div class="col-md-6 col-lg-5 wow bounceInUp" data-wow-duration="1.4s">
          <div class="box">
            <div class="icon">
              <i class="ion-ios-bookmarks-outline" style="color: #e9bf06;"></i>
            </div>
            <h4 class="title">Intellectual Property Protection</h4>
            <p class="description">
              We will shield your innovation and ideas from being duplicated or
              utilized in any case other than a legitimate consent
            </p>
          </div>
        </div>

        <div
          class="col-md-6 col-lg-5 offset-lg-1 wow bounceInUp"
          data-wow-delay="0.1s"
          data-wow-duration="1.4s"
        >
          <div class="box">
            <div class="icon">
              <i class="ion-ios-paper-outline" style="color: #3fcdc7;"></i>
            </div>
            <h4 class="title">Business Contracts</h4>
            <p class="description">
              We recognise the agreements your business executes with third
              parties and different stakeholders which we will be drafting to
              serve your needs
            </p>
          </div>
        </div>
        <div
          class="col-md-6 col-lg-5 wow bounceInUp"
          data-wow-delay="0.1s"
          data-wow-duration="1.4s"
        >
          <div class="box">
            <div class="icon">
              <i class="ion-ios-checkmark-outline" style="color: #41cf2e;"></i>
            </div>
            <h4 class="title">Legal Compliances</h4>
            <p class="description">
              Ministry of Corporate Affairs, India poses loads of mandatory
              compliances which we will keep a track of to stimulate effective
              functioning.
            </p>
          </div>
        </div>

        <div
          class="col-md-6 col-lg-5 offset-lg-1 wow bounceInUp"
          data-wow-delay="0.2s"
          data-wow-duration="1.4s"
        >
          <div class="box">
            <div class="icon">
              <i class="ion-ios-world-outline" style="color: #d6ff22;"></i>
            </div>
            <h4 class="title">Quality Certification & Licensing</h4>
            <p class="description">
              Your business and business products are subject to compulsory
              licenses and ISO certification, for hassle free operation we will
              carry the necessary filings.
            </p>
          </div>
        </div>
        <div
          class="col-md-6 col-lg-5 wow bounceInUp"
          data-wow-delay="0.2s"
          data-wow-duration="1.4s"
        >
          <div class="box">
            <div class="icon">
              <i class="ion-ios-clock-outline" style="color: #4680ff;"></i>
            </div>
            <h4 class="title">Due Diligence</h4>
            <p class="description">
              Our team will be vigilant with regards to statutory records and
              all other principal and ancillary corporate documentation coupled
              with advisory and course of action in case of any default.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- #services -->

  <!--==========================
      Why Us Section
    ============================-->
  <section id="why-us" class="wow fadeIn">
    <div class="container">
      <header class="section-header">
        <h3>Why choose us?</h3>
        <p>
          We offer a “hand-holding” support which is not limited to a legal
          advice but continues until you mature into a thriving business.
        </p>
      </header>

      <div class="row row-eq-height justify-content-center">
        <div class="col-lg-4 mb-4">
          <div class="card wow bounceInUp">
            <i class="fa fa-diamond"></i>
            <div class="card-body">
              <h5 class="card-title">Non-Profit Initiative</h5>
              <p class="card-text">
                Caim is a truly ‘pro-bono’ initiative, which means you don’t pay
                us a single dime for any of our services until you mature into a
                profit generating business.
              </p>
            </div>
          </div>
        </div>

        <div class="col-lg-4 mb-4">
          <div class="card wow bounceInUp">
            <i class="fa fa-handshake-o"></i>
            <div class="card-body">
              <h5 class="card-title">Reliable</h5>
              <p class="card-text">
                Caim is mentored by the Industry leaders in commercial laws
                which makes us a reliable choice for the new ventures. Besides,
                we follow a non-disclosure policy to protect your business
                information.
              </p>
            </div>
          </div>
        </div>

        <div class="col-lg-4 mb-4">
          <div class="card wow bounceInUp">
            <i class="fa fa-money"></i>
            <div class="card-body">
              <h5 class="card-title">From Idea to Funding</h5>
              <p class="card-text">
                We are compassionate towards are clients and out team will work
                round the clock to ensure you are legally backed up for your
                transactions.
              </p>
            </div>
          </div>
        </div>
      </div>
      <!--
        <div class="row counters">

          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">274</span>
            <p>Clients</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">421</span>
            <p>Projects</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">1,364</span>
            <p>Hours Of Support</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">18</span>
            <p>Hard Workers</p>
          </div>

        </div>
      -->
    </div>
  </section>
  <!-- #why-us -->

  <!--==========================
      Team Section
    ============================-->
  <section id="team" class="section-bg">
    <div class="container">
      <header class="section-header">
        <h3>Our Team</h3>
      </header>

      <div class="row justify-content-center">
        <div class="col-lg-8">
          <div class="owl-carousel team-carousel wow fadeInUp">
            <div class="team-item">
              <img
                src="{% static 'img/team-1.jpg' %}"
                class="team-img"
                alt=""
              />
              <h3>
                Abhishek Jha
                <a href="https://www.linkedin.com/in/abhishek-jha-47298611b/"
                  ><i class="fa fa-linkedin"></i
                ></a>
                <a href="mailto:jha3abhishek@gmail.com"
                  ><i class="fa fa-envelope"></i
                ></a>
              </h3>
              <h4>Law Student, MNLU</h4>
              <p>
                Currently a penultimate year law student of Maharashtra National
                Law University, Aurangabad, he has a knack to venture out and
                innovate. His interest area lies in commercial laws and Dispute
                Resolution. In his academic career, he has led various
                organisations by being in positions of responsibility. He has
                also been an active participant in Moot Court Competitions &
                National Debates and enjoys academic writing as well.
              </p>
            </div>

            <div class="team-item">
              <img
                src="{% static 'img/team-2.jpg' %}"
                class="team-img"
                alt=""
              />
              <h3>
                Ananya Sahu
                <a href="https://www.linkedin.com/in/ananya-sahu-609541168"
                  ><i class="fa fa-linkedin"></i
                ></a>
                <a href="mailto:ananyasahu47@gmail.com"
                  ><i class="fa fa-envelope"></i
                ></a>
              </h3>
              <h4>Law Student, MNLU</h4>
              <p>
                She is currently pursuing BA LLB from Maharashtra National Law
                University, Aurangabad. Her interest lies in Commercial laws,
                Tech- Laws and other aspects related to the business world. She
                has been an active participant of an NGO which is dedicatedly
                working to be at the service of start-ups. She looks forward to
                rendering advice and to add up to the success of your business
                working to her full potential.
              </p>
            </div>

            <div class="team-item">
              <img
                src="{% static 'img/team-3.jpg' %}"
                class="team-img"
                alt=""
              />
              <h3>
                Devansh Kathuria
                <a
                  href="https://www.linkedin.com/in/devansh-kathuria-26ab84192/"
                  ><i class="fa fa-linkedin"></i
                ></a>
                <a href="mailto:devansh.kathuria@gmail.com"
                  ><i class="fa fa-envelope"></i
                ></a>
              </h3>
              <h4>Law Student, MNLU</h4>
              <p>
                Devansh Kathuria is currently pursuing his bachelor's degree in
                law from Maharashtra National Law University, Aurangabad and is
                in his third year of five-year law course. He takes immense
                interest in learning practical aspects of law and takes great
                interest in taxation laws. He is also a very passionate
                dedicated and committed team-oriented person who believes in
                listening to the problem and coming up innovative solutions.
              </p>
            </div>

            <div class="team-item">
              <img
                src="{% static 'img/team-4.jpg' %}"
                class="team-img"
                alt=""
              />
              <h3>
                Hrishav Kumar
                <a href="https://www.linkedin.com/in/hrishavk/"
                  ><i class="fa fa-linkedin"></i
                ></a>
                <a href="mailto:hrishavmr@gmail.com"
                  ><i class="fa fa-envelope"></i
                ></a>
              </h3>
              <h4>Law Student, NUSRL</h4>
              <p>
                He is an undergraduate student at National University of Study
                and Research in Law, Ranchi with a keen interest in Taxation and
                Competition laws. At the same time he also has a profound
                interest in writing, especially on the developments taking place
                in the legal industry. Apart from law and academics, he is
                actively interested in interacting with entrepreneurs and
                understanding the nuances of their businesses.
              </p>
            </div>

            <div class="team-item">
              <img
                src="{% static 'img/team-5.jpg' %}"
                class="team-img"
                alt=""
              />
              <h3>
                Kunwar Surya Pratap
                <a
                  href="https://www.linkedin.com/in/kunwar-surya-pratap-669a50176/"
                  ><i class="fa fa-linkedin"></i
                ></a>
                <a href="mailto:kspratap1@gmail.com"
                  ><i class="fa fa-envelope"></i
                ></a>
              </h3>
              <h4>Law Student, NUSRL</h4>
              <p>
                He is presently enrolled as a student of law in National
                University of Study and Research in Law, Ranchi. He has a
                demonstrable interest in commercial laws and dispute resolution.
                You can figure out that he has a keen interest in moot courts,
                legal writing and public speaking as well. Besides that, he
                frequently likes to engage himself in freelancing and gratuitous
                legal services.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- #team -->

  <!--==========================
      Board Section
    ============================-->
  <section id="board">
    <div class="container">
      <!-- Section heading -->
      <div class="section-header">
        <h3>Our Advisory Board</h3>
        <!-- Section description -->
        <p>
          Our advisory board comprises of some of the top corporate lawyers of
          the country who have helped several businesses in becoming market
          leaders.
        </p>
      </div>

      <!-- Grid row -->
      <div class="row">
        <!-- Grid column -->
        <div class="col-lg-3 col-md-6 mb-lg-0 mb-5">
          <div class="member">
            <img
              src="https://mdbootstrap.com/img/Photos/Avatars/img%20(20).jpg"
              class="rounded-circle z-depth-1"
              alt="Sample avatar"
            />
          </div>
          <h5 class="font-weight-bold mt-4 mb-3">Anna Williams</h5>
          <p class="text-uppercase blue-text">
            <strong>Graphic designer</strong>
          </p>
          <p class="grey-text">
            Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet,
            consectetur, adipisci sed quia non numquam modi tempora eius.
          </p>
          <div class="social">
            <a href=""><i class="fa fa-twitter"></i></a>
            <a href=""><i class="fa fa-linkedin"></i></a>
          </div>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-lg-3 col-md-6 mb-lg-0 mb-5">
          <div class="avatar mx-auto">
            <img
              src="https://mdbootstrap.com/img/Photos/Avatars/img%20(3).jpg"
              class="rounded-circle z-depth-1"
              alt="Sample avatar"
            />
          </div>
          <h5 class="font-weight-bold mt-4 mb-3">John Doe</h5>
          <p class="text-uppercase blue-text">
            <strong>Web developer</strong>
          </p>
          <p class="grey-text">
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem ipsa
            accusantium doloremque rem laudantium totam aperiam.
          </p>
          <div class="social">
            <a href=""><i class="fa fa-twitter"></i></a>
            <a href=""><i class="fa fa-linkedin"></i></a>
          </div>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-lg-3 col-md-6 mb-md-0 mb-5">
          <div class="avatar mx-auto">
            <img
              src="https://mdbootstrap.com/img/Photos/Avatars/img%20(30).jpg"
              class="rounded-circle z-depth-1"
              alt="Sample avatar"
            />
          </div>
          <h5 class="font-weight-bold mt-4 mb-3">Maria Smith</h5>
          <p class="text-uppercase blue-text">
            <strong>Photographer</strong>
          </p>
          <p class="grey-text">
            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
            officia deserunt mollit anim est fugiat nulla id eu laborum.
          </p>
          <div class="social">
            <a href=""><i class="fa fa-twitter"></i></a>
            <a href=""><i class="fa fa-linkedin"></i></a>
          </div>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-lg-3 col-md-6">
          <div class="avatar mx-auto">
            <img
              src="https://mdbootstrap.com/img/Photos/Avatars/img%20(32).jpg"
              class="rounded-circle z-depth-1"
              alt="Sample avatar"
            />
          </div>
          <h5 class="font-weight-bold mt-4 mb-3">Tom Adams</h5>
          <p class="text-uppercase blue-text">
            <strong>Backend developer</strong>
          </p>
          <p class="grey-text">
            Perspiciatis repellendus ad odit consequuntur, eveniet earum nisi
            qui consectetur totam officia voluptates perferendis voluptatibus
            aut.
          </p>
          <div class="social">
            <a href=""><i class="fa fa-twitter"></i></a>
            <a href=""><i class="fa fa-linkedin"></i></a>
          </div>
        </div>
        <!-- Grid column -->
      </div>
    </div>
    <!-- Grid row -->
  </section>
  <!-- #board -->

  <!--==========================
      Contact Section
    ============================-->
  <section id="contact">
    <div class="container-fluid">
      <div class="section-header">
        <h3>Got any Query?</h3>
      </div>

      <div class="row wow fadeInUp">
        <div class="col-lg-6">
          <img src="{% static 'img/final.svg' %}" class="img-fluid" alt="" />
        </div>

        <div class="form">
          <div id="sendmessage">Your message has been sent. Thank you!</div>
          <div id="errormessage"></div>
          <form action="" method="post" role="form" class="contactForm">
            {% csrf_token %}
            <div class="form-row">
              <div class="form-group col-lg-6">
                <input
                  type="text"
                  name="name"
                  class="form-control"
                  id="name"
                  placeholder="Your Name"
                  data-rule="minlen:4"
                  data-msg="Please enter at least 4 chars"
                />
                <div class="validation"></div>
              </div>
              <div class="form-group col-lg-6">
                <input
                  type="email"
                  class="form-control"
                  name="email"
                  id="email"
                  placeholder="Your Email"
                  data-rule="email"
                  data-msg="Please enter a valid email"
                />
                <div class="validation"></div>
              </div>
            </div>
            <div class="form-group">
              <input
                type="text"
                class="form-control"
                name="subject"
                id="subject"
                placeholder="Subject"
                data-rule="minlen:4"
                data-msg="Please enter at least 8 chars of subject"
              />
              <div class="validation"></div>
            </div>
            <div class="form-group">
              <textarea
                class="form-control"
                name="message"
                rows="5"
                data-rule="required"
                data-msg="Please write something for us"
                placeholder="Message"
              ></textarea>
              <div class="validation"></div>
            </div>
            <div class="text-center">
              <button type="submit" title="Send Message">
                Send Message
              </button>
              <hr />
              <h3>
                <i>
                  Alternatively, you can reach out to us at <br />
                  <a href="mailto:contact@caimconsulting.in">
                    contact@caimconsulting.in
                  </a>
                </i>
              </h3>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
  <!-- #contact -->
</main>

{% endblock %}
