{% extends "base.html" %} {% block page_content %}
<!-- prettier-ignore -->
{% load static %}

<!--==========================
    Intro Section
  ============================-->
<section id="intro" class="clearfix">
  <div class="container">
    <div class="intro-info">
      {% if allowed %}
      <h2>Query: {{ messages.0.chat.pk }}</h2>
      <div>
        <a href="#inputMessageBox" class="btn-get-started scrollto">
          Go to message box
        </a>
      </div>
      {% else %}
      <h2>You don't have permission to view this chat</h2>
      {% endif %}
    </div>
  </div>
</section>
<!-- #intro -->

<main id="main">
  {% if allowed %}
  <div id="chatBox" class="container chat-box">
    <!-- prettier-ignore -->
    {% for message in messages %}
    {% if message.by_admin %}
    <div class="bubbleWrapper">
      <div class="inlineContainer">
        <div class="adminBubble admin">{{ message.message_text }}</div>
      </div>
    </div>
    {% else %}
    <div class="bubbleWrapper">
      <div class="inlineContainer user">
        <div class="userBubble user">{{ message.message_text }}</div>
      </div>
    </div>
    <!-- prettier-ignore -->
    {% endif %}
    {% endfor %}
  </div>
  <section id="contact">
    <div class="container-fluid">
      <div class="row wow fadeInUp">
        <div id="inputMessageBox" class="container inputMessageBox">
          <div class="form">
            <div id="sendmessage">Your message has been sent. Thank you!</div>
            <div id="errormessage"></div>
            <form
              id="{{ messages.0.chat.pk }}"
              action=""
              role="form"
              class="messageBox"
            >
              {% csrf_token %}
              <div class="form-group">
                <textarea
                  id="message"
                  class="form-control"
                  name="message"
                  rows="5"
                  placeholder="Type your question here"
                  required
                ></textarea>
                <div class="validation"></div>
              </div>
              <div class="text-center">
                <button type="submit" title="Send Message">
                  Send Message
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
  {% endif %}
</main>

{% endblock %}
