{% extends "base.html" %}

<!-- prettier-ignore -->
{% block title %}
<title>Caim Consulting | Services</title>
{% endblock %}

<!-- prettier-ignore -->
{% load static %}
{% block metatags %}
<meta name="title" content="Services | Caim Consulting" />
<meta name="description" content="Services by Caim Consulting" />
{% endblock %}

<!-- prettier-ignore -->
{% block page_content %}

<main id="main">
  <section class="service-grid pb-5 pt-5" id="services-list">
    <div class="container">
      <div class="row">
        <div class="col-xl-12 text-center mb-4">
          <div class="service-title">
            <h2>Our Services</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-6 text-center mb-4">
          <div class="service-wrap">
            <div class="service-icon">
              <i class="fa fa-briefcase" aria-hidden="true"></i>
            </div>
            <h4>Business Incorporation</h4>
            <hr style="border-top: 2px solid rgb(35, 67, 136);" />
            <p>
              <i class="fa fa-angle-right" aria-hidden="true"></i>
              Private Limited Company
              <br />
              <br />
              <i class="fa fa-angle-right" aria-hidden="true"></i>
              Limited Liability Company
              <br />
              <br />
              <i class="fa fa-angle-right" aria-hidden="true"></i>
              One Person Company
              <br />
              <br />
              <i class="fa fa-angle-right" aria-hidden="true"></i>
              Sole Proprietorship
              <br />
              <br />
              <i class="fa fa-angle-right" aria-hidden="true"></i>
              Partnership
            </p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 text-center mb-4">
          <div class="service-wrap">
            <div class="service-icon">
              <i class="fa fa-lock" aria-hidden="true"></i>
            </div>

            <h4>Intellectual Property Protection</h4>
            <hr style="border-top: 2px solid rgb(35, 67, 136);" />
            <p>
              <i class="fa fa-angle-right" aria-hidden="true"></i>
              Trademark Registration
              <br />
              <br />
              <i class="fa fa-angle-right" aria-hidden="true"></i>
              Trademark Renewal
              <br />
              <br />
              <i class="fa fa-angle-right" aria-hidden="true"></i>
              Trademark Rectification
              <br />
              <br />
              <i class="fa fa-angle-right" aria-hidden="true"></i>
              Copyright Registration
              <br />
              <br />
              <i class="fa fa-angle-right" aria-hidden="true"></i>
              Patent Registration
              <br />
              <br />
              <i class="fa fa-angle-right" aria-hidden="true"></i>
              Design Registration
            </p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 text-center mb-4">
          <div class="service-wrap">
            <div class="service-icon">
              <i class="fa fa-check-circle-o" aria-hidden="true"></i>
            </div>
            <h4>Quality Certification & Licensing</h4>
            <hr style="border-top: 2px solid rgb(35, 67, 136);" />
            <p>
              <i class="fa fa-angle-right" aria-hidden="true"></i>
              International Organization for Standardization – ISO Registration
              <br />
              <br />
              <i class="fa fa-angle-right" aria-hidden="true"></i>
              Food Safety & Standards Authority of India – FSSAI Registration
              <br />
              <br />
              <i class="fa fa-angle-right" aria-hidden="true"></i>
              International Standard Book Number (ISBN) Registration
            </p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 text-center mb-4">
          <div class="service-wrap">
            <div class="service-icon">
              <i class="fa fa-registered" aria-hidden="true"></i>
            </div>
            <h4>Registrations & Filings</h4>
            <hr style="border-top: 2px solid rgb(35, 67, 136);" />
            <p>
              <i class="fa fa-angle-right" aria-hidden="true"></i>
              DPIIT Startups Registration
              <br />
              <br />
              <i class="fa fa-angle-right" aria-hidden="true"></i>
              Goods and Service Tax (GST) Registration
              <br />
              <br />
              <i class="fa fa-angle-right" aria-hidden="true"></i>
              Income Tax (IT) Registration
              <br />
              <br />
              <i class="fa fa-angle-right" aria-hidden="true"></i>
              GST Return Filings (Nill)
              <br />
              <br />
              <i class="fa fa-angle-right" aria-hidden="true"></i>
              Income Tax Return Filings (Individual)
              <br />
              <br />
              <i class="fa fa-angle-right" aria-hidden="true"></i>
              Right to Information (RTI) Filings
            </p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 text-center mb-4">
          <div class="service-wrap">
            <div class="service-icon">
              <i class="fa fa-envelope-open-o" aria-hidden="true"></i>
            </div>
            <h4>Business Documentations</h4>
            <hr style="border-top: 2px solid rgb(35, 67, 136);" />
            <p>
              <i class="fa fa-angle-right" aria-hidden="true"></i>
              Legal Notice
              <br />
              <br />
              <i class="fa fa-angle-right" aria-hidden="true"></i>
              Policies
              <br />
              <br />
              <i class="fa fa-angle-right" aria-hidden="true"></i>
              Deeds
              <br />
              <br />
              <i class="fa fa-angle-right" aria-hidden="true"></i>
              Agreements
              <br />
              <br />
              <i class="fa fa-angle-right" aria-hidden="true"></i>
              Articles and Memorandums
            </p>

            <p></p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 text-center mb-4">
          <div class="service-wrap">
            <div class="service-icon">
              <i class="fa fa-gavel" aria-hidden="true"></i>
            </div>
            <h4>Legal Info & Research</h4>
            <hr style="border-top: 2px solid rgb(35, 67, 136);" />
            <p>
              <i class="fa fa-angle-right" aria-hidden="true"></i>
              Information on domestic or international laws
              <br />
              <br />
              <i class="fa fa-angle-right" aria-hidden="true"></i>
              Application procedures of Startup related schemes
              <br />
              <br />
              <i class="fa fa-angle-right" aria-hidden="true"></i>
              Any other legal query
            </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-12 text-center mb-4">
          <div class="service-footer">
            <br />
            <hr />
            <br />
            <p>
              Even if you need any other help, feel free to talk to us! Our team
              would assist you in every possible manner.
            </p>
            <form action="{% url 'profile' %}">
              <button type="submit" class="btn btn-primary">Talk to Us</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

{% endblock %}
